<% if user_signed_in? %>
<div>
<%if !current_user.colaborator.nil? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>


<%= form_with model: [@ad, @question], local:true do |f| %>
<div>
<dl>

<dt><%= f.label :answer, 'Escreva sua resposta aqui' %></dt>
<dd><%= f.text_field :answer %>
</div>
<div>
<%= f.submit 'Enviar resposta' %>
</div>
<%end%>
<div>
<%= link_to 'Voltar', ad_questions_path(@ad)%>
</div>

