<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<p><%= link_to 'Meu perfil', colaborator_path(current_user.colaborator.id)%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>



<% if @ad.errors.any? %>
<% @ad.errors.full_messages.each do |e| %>
<p><%= e%></p>
<%end%>
<%end%>

<%= form_with model: @ad, local: true do |f| %>

<div>
<%= f.label :name, 'Nome do produto' %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :category, 'Escolha uma categoria' %>
<%= f.radio_button :category, :fashion_acc  %>
<%= f.label :category_fashion_acc, 'Moda e acessórios' %>
<%= f.radio_button :category, :cosmetic  %>
<%= f.label :category_cosmetic, 'Cosméticos' %>
<%= f.radio_button :category, :eletrical_app  %>
<%= f.label :category_eletrical_app, 'Eletrodomésticos' %>
<%= f.radio_button :category, :home_deco %>
<%= f.label :category_home_deco,  'Casa e decoração'  %>
<%= f.radio_button :category, :tel_cel %>
<%= f.label :category_tel_cel, 'Telefones e celulares'  %>
<%= f.radio_button :category, :book  %>
<%= f.label :category_book, 'Livros, artigos, revistas' %>
<%= f.radio_button :category, :sport %>
<%= f.label :category_sport, 'Lazer e esportes'  %>
<%= f.radio_button :category, :technology  %>
<%= f.label :category_technology,'Tecnologia' %>
<%= f.radio_button :category, :other %>
<%= f.label :category_other, 'Outros'  %>
</div>
<div>
<%= f.label :description, 'Informações do produto' %>
<%= f.text_field :description %>
</div>
<div>
<%= f.label :cost, 'Preço' %>
<%= f.number_field :cost, min:0 %>
</div>
<div class="field">
<%=f.label :photo, 'Escolher foto' %>
<%= f.file_field :photo%>
</div>
<div>
<%= f.submit 'Anunciar' %>
</div>
<% end %>
<div>
<%= link_to 'Voltar', ad_path(@ad)%>
</div>

