<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<p><%= link_to 'Meu perfil', colaborator_path(current_user.colaborator.id)%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>


<%if @ads.empty? %>
<h1>Não há anúncios</h1> 
<% else %>

<h1>Anúncios</h1>
<% @ads.each do |ad| %>
<div>
<h3><%= ad.name %></h3>
<dl>
<dt>Categoria:</dt>
<dd><%=ad.category%></dd>
<dt>Informações:</dt>
<dd><%=ad.description%></dd>
<dt>Valor:</dt>
<dd><%=number_to_currency ad.cost %></dd>
<dt>Mais informações<dt>
<dd><%= link_to 'Mais detalhes', ad %></dd>
<%if ad.colaborator.id == current_user.colaborator.id%>
<%if ad.available? %>
<dd><%= link_to 'Desativar temporariamente', disab_ad_path(ad) %></dd>
<%elsif ad.disab? %>
<dd><%= link_to 'Habilitar anúncio', enab_ad_path(ad) %></dd>
<%end%>
<%else%>
<%end%>
<%end%>
</dl>
</div>
<% end %>
<%= link_to 'Meus anúncios', owned_ads_path %>
<%= link_to 'Criar novo anúncio', new_ad_path %>
<div>
<%= link_to 'Voltar', root_path%>
</div>

