<%if @ads.empty? %>
<h1>Não há anúncios</h1> 
<% else %>

<h1>Anúncios</h1>
<% @ads.each do |ad| %>
<div>
<h3><%= ad.name %></h3>
<dl>
<dt>Categoria:</dt>
<dd><%=ad.category%></dd>
<dt>Informações:</dt>
<dd><%=ad.description%></dd>
<dt>Valor:</dt>
<dd><%=number_to_currency ad.cost %></dd>
<dt>Mais informações<dt>
<dd><%= link_to 'Mais detalhes', ad %></dd>
<%if !ad.negociations.empty? %>
<dt>Tem marujo querendo selar um trato com você! Clique para ver negociação: </dt>
<% ad.negociations.each do |negociation| %>
<% if negociation.answer.blank? %>
<dd><%=link_to "Responder proposta de #{negociation.colaborator.social_name}", ad_negociations_path(ad)%></dd>
<%else%>
<dd><%=link_to "Ver negociação com #{negociation.colaborator.social_name}", ad_negociations_path(ad)%></dd>
<%end%>
<%end%>
<%end%>

</dl>
</div>

<% end %>

<%end%>
<%= link_to 'Meus anúncios', owned_ads_path %>
<%= link_to 'Criar novo anúncio', new_ad_path %>
