<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<p><%= link_to 'Meu perfil', colaborator_path(current_user.colaborator.id)%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>



<% if @ad.errors.any? %>
<% @ad.errors.full_messages.each do |e| %>
<p><%= e%></p>
<%end%>
<%end%>

<%= form_with model: @ad, local: true do |f| %>

<div>
<%= f.label :name, 'Nome do produto' %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :category, 'Categoria' %>
<%= f.text_field :category %>
</div>
<div>
<%= f.label :description, 'Informações do produto' %>
<%= f.text_field :description %>
</div>
<div>
<%= f.label :cost, 'Preço' %>
<%= f.number_field :cost, min:0 %>
</div>
<div class="field">
<%=f.label :photo, 'Adicionar foto do produto' %>
<%= f.file_field :photo%>
</div>
<div>
<%= f.submit 'Anunciar' %>
</div>
<% end %>
<div>
<%= link_to 'Voltar', ads_path%>
</div>

