<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<p><%= link_to 'Meu perfil', colaborator_path(current_user.colaborator.id)%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>


<div>
<h3><%= @ad.name %></h3>
<%if @ad.photo.attached? %>

<strong>Foto do produto</strong>
<p><%= image_tag(@ad.photo, size:'300')%>
</p>
<%else%>
<p><%= image_tag("seal_deal.jpg", size:'200') %></p>
<%end%>
<table>
<tr><td><b>Categoria:</b> <%=@ad.category%><br/>
<b>Informações:</b> <%=@ad.description%><br/>
<b>Valor:</b> <%=number_to_currency @ad.cost %><br/></td></tr>

<% if current_user.id == @ad.colaborator.user.id %>
<b><%= link_to 'Editar anúncio', edit_ad_path(@ad)%></b><br/>
<b><%= link_to 'Apagar anúncio', ad_path(@ad), method: :delete, data: {
    confirm: 'Gostaria de apagar este anúncio?'} %></b><br/>
<% if !@deals.empty? %>
<%@deals.each do |deal|%>
<b><%=link_to "Solicitação de #{deal.colaborator.social_name}", edit_ad_deal_path(@ad, deal)%></b><br/>
<%end%>
<%end%>
<% else %>

<% if @deal.nil? %>
<b><%=link_to 'Quero comprar esse produto', new_ad_deal_path(@ad)%></b><br/>
<%elsif !@deal.freight.blank? || !@deal.discount.blank?%>
<b><%=link_to 'Proposta de acordo', ad_deal_path(@ad, @deal) %></b><br/>
<%end%>
<%end%>
  


<div>
<b><%= link_to 'Perguntas sobre o produto', ad_questions_path(@ad) %></b><br/>
</div>
<div>
<b><%= link_to 'Continuar navegando', ads_path %></b><br/>
</div>

