<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>


<div>
<h3><%= @ad.name %></h3>
<dl>
<dt>Categoria:</dt>
<dd><%=@ad.category%></dd>
<dt>Informações:</dt>
<dd><%=@ad.description%></dd>
<dt>Valor:</dt>
<dd><%=number_to_currency @ad.cost %></dd>
</dl>
</div>
<% if current_user.id == @ad.colaborator.user.id %>
<div>
<%if !@ad.negociations.empty? %>
<dt>Tem marujo querendo selar um trato com você! Clique para ver negociação: </dt>
<% @ad.negociations.each do |negociation| %>
<% if negociation.answer.blank? %>
<dd><%=link_to "Ver negociação com #{negociation.colaborator.social_name}", onlyus_ad_negociation_path(@ad, negociation)%></dd>
<%end%>
<%end%>
<%end%>
</div>
<%= link_to 'Editar anúncio', edit_ad_path(@ad)%>
<%= link_to 'Apagar anúncio', ad_path(@ad), method: :delete, data: {
    confirm: 'Gostaria de apagar este anúncio?'} %>
<% else %>
<div>
<% if @negociations.empty? %>
<%= link_to 'Quero negociar este produto', new_ad_negociation_path(@ad)%>
<%else %>
<%= link_to 'Ver negociação', onlyus_ad_negociation_path(@ad, @negociations.last)%> 
<%end%>
</div>  
<!-- link_to 'Adicionar a minha lista de desejos-->
<% end %>

<div>
<%= link_to 'Perguntas sobre o produto', ad_questions_path(@ad) %>    
</div>
<div>
<%= link_to 'Continuar navegando', ads_path %>
</div>

