<div>
<h3><%= @ad.name %></h3>
<dl>
<dt>Categoria:</dt>
<dd><%=@ad.category%></dd>
<dt>Informações:</dt>
<dd><%=@ad.description%></dd>
<dt>Valor:</dt>
<dd><%=number_to_currency @ad.cost %></dd>
</dl>
</div>
<% if current_user.id == @ad.colaborator.user.id %>
<%= link_to 'Editar anúncio', edit_ad_path(@ad)%>
<%= link_to 'Apagar anúncio', ad_path(@ad), method: :delete, data: {
    confirm: 'Gostaria de apagar este anúncio?'} %>
<% end %>
<div>
<%= link_to 'Perguntas sobre o produto', ad_questions_path(@ad) %>    
</div>
<div>
<%= link_to 'Continuar navegando', ads_path %>
</div>

