<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>



<% if @colaborator.errors.any? %>
<%= @colaborator.errors.full_messages.each do |e| %>
<p><%= e%></p>
<%end%>
<% end %>

<h3>Meus dados pessoais</h3>

<%= form_with model: @colaborator, local:true do |f| %>
<div>
<%= f.label :name, 'Nome completo' %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :social_name, 'Nome social' %>
<%= f.text_field :social_name %>
</div>
<div>
<%= f.label :birth_date, 'Data de nascimento' %>
<%= f.date_field :birth_date %>
</div>
<div>
<%= f.label :cpf, 'CPF' %>
<%= f.text_field :cpf %>
</div>
<div>
<%= f.label :address, 'Endereço' %>
<%= f.text_field :address %>
</div>
<div>
<%= f.label :role, 'Cargo atual' %>
<%= f.text_field :role %>
</div>
<div>
<%= f.submit 'Completar meu cadastro e zarpar!' %>
</div>
<% end %>
<div>
<%= link_to 'Cancelar', root_path%>
</div>

