<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>

<h3>Perfil</h3>
<dl>
<dt>Tripulante:</dt><br/>
<dd><%="#{@colaborator.social_name}"%></dd> 
<dt>Departamento:</dt><br/>
<dd><%="#{@colaborator.section}"%></dd> 
<dt>Cargo atual:</dt><br/>
<dd><%="#{@colaborator.role}"%></dd> 
<dt>Endereço:</dt><br/>
<dd><%="#{@colaborator.address}"%></dd> 
<dt>Data de nascimento:</dt><br/>
<dd><%="#{l @colaborator.birth_date}"%></dd> 
<dt>Contato:</dt>
<dd><%="#{@colaborator.user.email}"%></dd>
</dl>

<% if @colaborator.id == current_user.colaborator.id %>
<%= link_to 'Editar perfil', edit_colaborator_path(@colaborator)%>
<%else%>
<div><p><%=link_to 'Voltar', colaborators_path %></p></div>
<%end%>

