
<body style="background-color:lightgray;">
<h1 color=navy>SealTheDeal</h1>  <<%= image_tag  "desenhofoca4.png" %>>
<div>
<% if user_signed_in? && current_user.visitor? %>
<%= link_to 'Preencha aqui seus dados e navegue sem restrições!', new_colaborator_path %>
<% end %>
</div>
<div>
<% if user_signed_in? %>
<%if !current_user.colaborator.nil? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Fazer login', new_user_session_path %>
<% end %>
</div>
<div>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Ver empresas parceiras', companies_path %>
<% end %>
</div>
<div>
<%if user_signed_in? && !current_user.visitor? %>
<p><%=link_to 'Velejar pelas ofertas',ads_path %></p>
<p><%=link_to 'Comunidade à bordo',  colaborators_path %></p>
<%end%>

</div>
</body>