<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<p><%= link_to 'Meu perfil', colaborator_path(current_user.colaborator.id)%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>



<div>
<% if @company.errors.present? %>
<% @company.errors.full_messages.each do |e| %>
<p><%= e %></p>
<% end %>
<%end%>
</div>



<%= form_with model: @company, local:true do |f| %>
<div>
<%= f.label :name, 'Nome da empresa' %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :cnpj, 'nº do CNPJ' %>
<%= f.text_field :cnpj %>
</div>
<div>
<%= f.label :domain, 'Domínio do email' %>
<%= f.text_field :domain %>
</div>
<div>
<%= f.submit 'Finalizar Cadastro' %>
</div>
<% end %>