<% if user_signed_in? %>
<div>
<%if current_user.colaborator.present? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<p><%= link_to 'Meu perfil', colaborator_path(current_user.colaborator.id)%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>


<div>
<h3><%= @company.name %></h3>
<dl>
<dt>Nº do CNPJ:</dt>
<dd><%=@company.cnpj%></dd>
<dt>Domínio de e-mail:</dt>
<dd><%=@company.domain%></dd>
</dl>
</div>

<%= link_to 'Voltar', companies_path %>
