<% if user_signed_in? %>
<div>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
</div>
<%end%>


<body>
<h3>Estamos quase lá!</h3>
<h4>Entre com os valores de desconto e de frete</h4>

<dl>
<dt>Dados do Comprador<dt>
<dd><%= "#{@deal.colaborator.social_name}"%></dd>
<dd><%= "CPF: #{@deal.colaborator.cpf}"%></dd>
<dd><%= "Endereço: #{@deal.colaborator.address}"%></dd>
<dd><%= "Ocupa o cargo #{@deal.colaborator.role} na empresa #{@deal.colaborator.company.name}"%><dd>

<dt>Dados do Vendedor<dt>
<dd><%= "#{@ad.colaborator.social_name}"%></dd>
<dd><%= "CPF: #{@ad.colaborator.cpf}"%></dd>
<dd><%= "Endereço: #{@ad.colaborator.address}"%></dd>
<dd><%= "Ocupa o cargo #{@ad.colaborator.role} na empresa #{@ad.colaborator.company.name}"%><dd>


<dt>Produto</dt>
<dd><%= "#{@ad.name}"%></dd>
<dd><%= "Categoria: #{@ad.category}"%></dd>
<%= form_with model: [@ad,@deal], local:true do |f| %>
<div class="field">
<p><dt><%= f.label :discount, 'Desconto' %></dt>
<dd><%=f.number_field :discount%></dd></p>
<p><dt><%= f.label :freight, 'Valor de frete' %></dt>
<dd><%=f.number_field :freight%></dd></p>
<%= f.submit 'Enviar boleto'%>
</div>
<%end%>
</dl>
<div>
<%= link_to 'Cancelar acordo', ad_deal_path(@ad, @deal), method: :delete, data: {confirm: 'Deseja recusar o acordo?'}%>
<%= link_to 'Voltar', ad_path(@ad)%>
</div>
</body>

