<% if user_signed_in? %>
<div>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
</div>
<%end%>


<body>
<h3>Oferta de fechamento de negócio</h3>
<h4>Dados da compra</h4>

<dl>
<dt>Comprador<dt>
<dd><%= "#{@colaborator.social_name}"%></dd>
<dd><%= "CPF: #{@colaborator.cpf}"%></dd>
<dd><%= "Endereço: #{@colaborator.address}"%></dd>
<dd><%= "Ocupa o cargo #{@colaborator.role} na empresa #{@colaborator.company.name}(CNPJ: #{@colaborator.company.cnpj})"%><dd>

<dt>Vendedor<dt>
<dd><%= "#{@ad.colaborator.social_name}"%></dd>
<dd><%= "CPF: #{@ad.colaborator.cpf}"%></dd>
<dd><%= "Endereço: #{@ad.colaborator.address}"%></dd>
<dd><%= "Ocupa o cargo #{@ad.colaborator.role} na empresa #{@ad.colaborator.company.name}(CNPJ: #{@ad.colaborator.company.cnpj})"%><dd>


<dt>Produto</dt>
<dd><%= "#{@ad.name}"%></dd>
<dd><%= "Categoria: #{@ad.category}"%></dd>
<dd><%= "Valor(pode sofrer alterações pelo local de entrega): #{number_to_currency @ad.cost}"%></dd>
<%= form_with model: [@ad,@deal], local:true do |f| %>
<dt><%= f.label :address, 'Digite o local de entrega' %></dt>
<dd><%= f.text_field :address %></dd>
<dd><%= f.submit 'Solicitar acordo'%></dd>
<%end%>
</body>

