<% if user_signed_in? %>
<div>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
</div>
<%end%>


<body>
<h3>Dados do Acordo</h3>

<dl>
<dt>Comprador<dt>
<dd><%= "#{@deal.colaborator.social_name}"%></dd>
<dd><%= "CPF: #{@deal.colaborator.cpf}"%></dd>
<dd><%= "Endereço: #{@deal.colaborator.address}"%></dd>
<dd><%= "Ocupa o cargo #{@deal.colaborator.role} na empresa #{@deal.colaborator.company.name}"%><dd>

<dt>Vendedor<dt>
<dd><%= "#{@ad.colaborator.social_name}"%></dd>
<dd><%= "CPF: #{@ad.colaborator.cpf}"%></dd>
<dd><%= "Endereço: #{@ad.colaborator.address}"%></dd>
<dd><%= "Ocupa o cargo #{@ad.colaborator.role} na empresa #{@ad.colaborator.company.name}"%><dd>


<dt>Produto</dt>
<dd><%= "#{@ad.name}"%></dd>
<dd><%= "Categoria: #{@ad.category}"%></dd>
<dt><%= "Valor de oferta: #{number_to_currency @deal.calculate_receipt(@ad.cost)}" %></dt>
<div>
<%if current_user.colaborator.id == @deal.colaborator.id%>
<%= link_to "Aceitar e continuar para o pagamento", ad_deal_payments_path(@ad,@deal), method: :post %>
<%end%>
<%= link_to 'Recusar', ad_deal_path(@ad, @deal), method: :delete, data: {confirm: 'Deseja recusar esse acordo?'} %>
<%= link_to 'Voltar', ad_path(@ad)%>
</div>
</body>



