<h3> Envie sua contra-proposta</h3>

<% if @negociation.errors.any? %>
<% @negociation.errors.full_messages.each do |e| %>
<p><%= e %></p>
<%end%>
<%end%>
<%= form_with model: [@ad, @negociation], local: true do |f| %>
<div>
<dl>
<dt><%= f.label :answer, 'Contra-proposta' %></dt>
<dd><%= f.text_field :answer %></dd>
</div>
<div>
<dt><%= f.label :current_price, 'Atualizar valor' %></dt>
<dd><%= f.number_field :current_price %></dd>
</div>
<div>
<%= f.submit 'Enviar contra-proposta' %>
</div>
<%end%>

