<% if user_signed_in? %>
<div>
<%if !current_user.colaborator.nil? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>

<h3> Envie sua proposta ao vendedor!</h3>

<% if @negociation.errors.any? %>
<% @negociation.errors.full_messages.each do |e| %>
<p><%= e %></p>
<%end%>
<%end%>
<%= form_with model: [@ad, @negociation], local: true do |f| %>
<div>
<dl>
<dt><%= f.label :answer, 'Mensagem' %></dt>
<dd><%= f.text_field :answer %></dd>
</div>
<div>
<%= f.submit 'Enviar' %>
</div>
<%end%>

