<% if user_signed_in? %>
<div>
<%if !current_user.colaborator.nil? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>

<h2>Aqui pode-se negociar à vontade em particular!</h2>

<div>
<% @negociations.each do |negociation| %>
<dl>
<div>
<dt><%= "#{negociation.colaborator.social_name}:"%></dt>
<dd><%= "#{negociation.ask}"%></dd>
</div>
<div>
<%if negociation.answer.blank? %>
<p>Aguardando resposta do vendedor</p>
<%if current_user.colaborator.id == @ad.colaborator.id %>
<p><%= link_to 'Fazer contra-proposta', edit_ad_negociation_path(@ad, negociation)%></p>
<p><%= link_to 'Oferta final de negociação', new_ad_negociation_deal_path(@ad, negociation) %>
<%end%>
<%else%>
<dt><%= "#{@ad.colaborator.social_name}:"%></dt>
<dd><%= "#{negociation.answer}"%></dd>
</div>
<%end%>
<dt>Valor atual: </dt>
<%if negociation.current_price.blank? %>
<dd><%= number_to_currency @ad.cost%></dd>
<%else%>
<dd><%= number_to_currency negociation.current_price %></dd>
<%end%>
</dl>
<% if !@deal.nil? && current_user.colaborator.id == negociation.colaborator.id %>
<h4><%= link_to "#{@ad.colaborator.social_name} gostaria de fechar um acordo com você", ad_negociation_deal_path(@ad, negociation, @deal) %>
<%end%>
<%end%>
<%= link_to 'Voltar', ad_path(@ad) %>