<% if user_signed_in? %>
<div>
<%if !current_user.colaborator.nil? %>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
<%end%>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
</div>
<%end%>

<h2>Aqui pode-se negociar à vontade em particular!</h2>

<div>
<% @negociations.each do |negociation| %>
<dl>
<div>

<p>
<dt><%= "#{negociation.colaborator.social_name}:"%></dt>
<dd><%= "#{negociation.ask}"%></dd>
</p>
<p>
<% if !negociation.answer.blank? %>
<dt><%= "#{@ad.colaborator.social_name}:"%></dt>
<dd><%= "#{negociation.answer}"%></dd>
<%end%>
</div>
<div>
<%if current_user.colaborator.id == negociation.colaborator.id && @negociations.any?%>
<%= link_to 'Enviar mensagem', new_ad_negociation_path(@ad, negociation) %>
<%end%>
<%if current_user.colaborator.id == @ad.colaborator.id %>
<p><%= link_to 'Enviar mensagem', edit_ad_negociation_path(@ad, negociation)%></p>
<% if !@deal.nil? %>
<p><%= link_to 'Ver oferta de negociação', ad_negociation_deal_path(@ad, negociation,@deal) %>
<%else%>
<p><%= link_to 'Oferta final de negociação', new_ad_negociation_deal_path(@ad, negociation) %>
<%end%>
<%end%>
</div>

</dl>
<% if !@deal.nil? && current_user.colaborator.id == negociation.colaborator.id %>
<h4><%= link_to "#{@ad.colaborator.social_name} gostaria de fechar um acordo com você", ad_negociation_deal_path(@ad, negociation, @deal) %>
<%end%>
<%end%>
<%= link_to 'Voltar', ad_path(@ad) %>