<% if user_signed_in? %>
<div>
<p><%= "Olá, #{current_user.colaborator.social_name}"%></p>
</div>
<%end%>


<body>

<h4>Entre com o endereço de entrega</h4>

<dl>
<dt>Seus dados<dt>
<dd><%= "#{@payment.colaborator.social_name}"%></dd>
<dd><%= "CPF: #{@payment.colaborator.cpf}"%></dd>
<dd><%= "Endereço: #{@payment.colaborator.address}"%></dd>
<dd><%= "Ocupa o cargo #{@payment.colaborator.role} na empresa #{@payment.colaborator.company.name}"%><dd>

<%= form_with model: [@ad,@negociation,@deal,@payment], local:true do |f| %>
<dt><%= f.label :delivery_address, 'Entregar em' %></dt>
<dd><%= f.text_field :delivery_address %></dd>
<dd><%= f.submit 'Confirmar endereço e selar o trato!' %></dd>
</dl>
<%end%>
</body>